:root {
    /* fonts */
    --font-monospace: "consolas", "lucida console", "Courier New", monospace;
    --font-size-h1: clamp(2.0736rem, 2.0736rem + 1vw, 2.4883rem);
    --font-size-h2: clamp(1.44rem, 1.44rem + 1vw, 1.728rem);

    /* 1em, 2em, ... */
    --two-em: 2em;
    --one-em: 1em;
    --half-em: 0.5em;
    --quarter-em: 0.25em;
    --tenth-em: 0.1em;
    --zero: 0;

    /* transition */
    --transition-time-style: 200ms ease-in-out;

    --theme: white;

    /* colors */
    --white-body: snow;
    --white-text: #6a2c70;
    --white-border: #6a2c70;
    --white-border-active: #6a2c70;
    --white-icon-invert: 0;

    --dark-body: #451952;
    --dark-text: #f39f5a;
    --dark-border: #f39f5a61;
    --dark-border-active: #f39f5a;
    --dark-icon-invert: 1;

    --color-bg: var(--white-body);
    --color-text: var(--white-text);
    --color-shadow: var(--white-border);
    --color-hover: var(--white-border);
    --color-border: var(--white-border);
    --color-outline: var(--white-border);
    --color-outline-active: var(--white-border-active);
    --icon-invert: var(--white-icon-invert);

    /* misc. */
    --border-radius: var(--one-em);
    --small-gap: var(--one-em);
    --big-gap: calc(2 * var(--small-gap));
    --button-padding: var(--small-gap);
    --letter-spacing: 0.1em;
    --hover-brightness: brightness(1.8);

    /* body */
    --body-padding-block-start: var(--big-gap);

    /* main */
    --main-padding-inline: var(--two-em);
    --main-row-gap: var(--two-em);

    /* .section */
    --section-row-gap: var(--one-em);
    --section-padding-inline: var(--big-gap);
    --section-padding-block: var(--big-gap);

    /* footer */
    --footer-padding-block: var(--big-gap);

    /* table header cells */
    --file-name-col-width: 40%;
    --rest-cols-width: calc(100% - var(--file-name-col-width));
    --other-col-width: calc(var(--rest-cols-width) / 3);
}
* {
    box-sizing: border-box;
    margin: 0;
}
div {
    max-width: 50ch;
    overflow-wrap: anywhere;
}
header {
    display: grid;
    grid-template-columns: 1fr min-content;
    column-gap: var(--big-gap);
}
header .switch-themes {
    align-self: start;
    grid-template-columns: 1fr;
}
header .switch-themes::before {
    filter: invert(var(--icon-invert));
    align-self: center;
    content: url(./circle-half.svg);
}
h1 {
    text-align: center;
    font-size: var(--font-size-h1);
}
fieldset {
    padding: var(--zero);
    border: none;
}
table {
    width: 100%;
    border: thick solid var(--color-border);
    /* to have rounded corners */
    border-spacing: var(--zero);
}
thead {
    background-color: var(--color-bg);
    backdrop-filter: brightness(1.5);
    /* make it sticky */
    position: sticky;
    top: 0;
    z-index: 1;
    /* end */
    transition: backdrop-filter var(--transition-time-style);
}

/* header cell */
thead > tr > th {
    padding-inline: var(--small-gap);
    padding-block: var(--big-gap);
    text-align: start;
}

/* row template */
tbody > .template:first-child {
    display: none;
}
/* data cell */
tbody > tr > td {
    padding-inline: var(--small-gap);
    padding-block: var(--small-gap);
}
/*  Row onwards */
tbody > tr:hover {
    /* background-color: red; */
    backdrop-filter: brightness(1.5);
}
/* First (Data) Column */
tr > td:first-child {
    /* background-color: red; */
    overflow-wrap: anywhere;
    max-width: var(--file-name-col-width);
}
.spinner::before {
    content: "";
    background-image: url(gear.svg);
    background-position: center;
    background-repeat: no-repeat;
    display: grid;
    place-items: center;
    animation-name: spinnerAnimation;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    width: 2em;
    height: 2em;
    filter: invert(var(--icon-invert));
}
@keyframes spinnerAnimation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
.button.settings {
    display: none;
    /* display: inline !important; */
    width: clamp(var(--one-em), 1.5vw, var(--two-em));
    border: unset;
    padding: unset;
    height: var(--small-gap);
    background-image: url(settings.svg);
    background-repeat: no-repeat;
    background-position: center;
    filter: invert(var(--icon-invert));
}
.pad-top {
    padding-block-start: var(--small-gap);
}
.second-text {
    filter: opacity(0.6) !important;
}
.button {
    background-color: inherit;
    padding: var(--button-padding);
    cursor: pointer;
    border: medium solid var(--color-border);
    border-radius: var(--border-radius);
    transition: all var(--transition-time-style);
}
.button:hover {
    backdrop-filter: var(--hover-brightness);
}
.form {
    width: 100%;
    font-size: var(--font-size-h2);
}
.upload {
    height: 100%;
}
.upload .button {
    border-style: dashed;
    border-width: thick;
    display: grid;
    align-content: center;
}
.dragenter {
    border-color: var(--color-text);
    /* border-style: dotted; */
}
.upload .input {
    display: none;
}
body {
    min-height: 100vh;
    padding-inline: var(--big-gap);
    background-color: var(--color-bg);
    transition: background-color 2s ease-out, color 5s ease-out;
    color: var(--color-text);
    font-family: system-ui;
    letter-spacing: var(--letter-spacing);
    display: grid;
    justify-content: center;
    row-gap: var(--big-gap);
    padding-block-start: var(--body-padding-block-start);
    grid-template-rows: auto 1fr auto;
}
main {
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr;
    row-gap: var(--main-row-gap);
}
footer {
    padding-block: var(--footer-padding-block);
    text-align: center;
}
@media (prefers-color-scheme: dark) {
    :root {
        --theme: dark;
        --color-bg: var(--dark-body);
        --color-text: var(--dark-text);
        --color-shadow: var(--dark-border);
        --color-hover: var(--dark-border);
        --color-border: var(--dark-border);
        --color-outline: var(--dark-border);
        --color-outline-active: var(--dark-border-active);
        --icon-invert: var(--dark-icon-invert);
    }
}
