:root {
    /* fonts */
    --font-monospace: "consolas", "lucida console", "Courier New", monospace;
    --font-size-h1: clamp(2.0736rem, 2.0736rem + 1vw, 2.4883rem);
    --font-size-h2: clamp(1.44rem, 1.44rem + 1vw, 1.728rem);

    /* 1em, 2em, ... */
    --two-em: 2em;
    --one-em: 1em;
    --half-em: 0.5em;
    --quarter-em: 0.25em;
    --tenth-em: 0.1em;
    --zero: 0;

    /* transition */
    --transition-time-style: 200ms ease-in-out;

    /* colors */
    --white-body: snow;
    --white-text: #6a2c70;
    --white-border: #6a2c70;
    --white-border-active: #6a2c70;

    --dark-body: #451952;
    --dark-text: #f39f5a;
    --dark-border: #f39f5a61;
    --dark-border-active: #f39f5a;

    --color-bg: var(--white-body);
    --color-text: var(--white-text);
    --color-shadow: var(--white-border);
    --color-hover: var(--white-border);
    --color-border: var(--white-border);
    --color-outline: var(--white-border);
    --color-outline-active: var(--white-border-active);

    /* misc. */
    --border-radius: var(--quarter-em);
    --small-gap: var(--one-em);
    --big-gap: calc(2 * var(--small-gap));
    --button-padding: var(--small-gap);
    --letter-spacing: 0.1em;
    --hover-brightness: brightness(1.8);

    /* body */
    --body-padding-block-start: var(--big-gap);

    /* main */
    --main-padding-inline: var(--two-em);
    --main-row-gap: var(--two-em);

    /* .section */
    --section-row-gap: var(--one-em);
    --section-padding-inline: var(--big-gap);
    --section-padding-block: var(--big-gap);

    /* footer */
    --footer-padding-block: var(--big-gap);
}
* {
    box-sizing: border-box;
    margin: 0;
}
h1 {
    text-align: center;
    font-size: var(--font-size-h1);
}
fieldset {
    padding: var(--zero);
    border: none;
}
table {
    width: 100%;
    border: thick solid var(--color-border);
    border-collapse: collapse;
    border-radius: var(--border-radius);
}
table th,
table td {
    width: calc(100% / 5);
    border: thin solid var(--color-border);
}
th {
    padding-inline: var(--tenth-em);
    padding-block: var(--big-gap);
    text-align: center;
    cursor: pointer;
}
td {
    padding: var(--small-gap) !important;
}
.spinner::after {
    content: "";
    display: block;
    margin: 0 auto;
    width: 48px;
    height: 48px;
    border: 5px solid #fff;
    border-bottom-color: transparent;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}
@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
/* File Name cells */
tr > td:first-child {
    letter-spacing: unset;
}
th:hover {
    backdrop-filter: var(--hover-brightness);
}
table th:first-child {
    border-top-left-radius: var(--border-radius);
}
.button.settings {
    display: inline !important;
    width: clamp(var(--one-em), 1.5vw, var(--two-em));
    border: unset;
    padding: unset;
    height: var(--small-gap);
    background-image: url(settings.svg);
    background-repeat: no-repeat;
    background-position: center;
}
tbody {
}
.pad-top {
    padding-block-start: var(--small-gap);
}
.second-text {
    filter: opacity(0.6) !important;
}
.button {
    all: inherit;
    padding: var(--button-padding);
    cursor: pointer;
    border: medium solid var(--color-border);
    border-radius: var(--border-radius);
    transition: all var(--transition-time-style);
}
.button:hover {
    backdrop-filter: var(--hover-brightness);
}
.form {
    width: 100%;
    font-size: var(--font-size-h2);
}
.upload {
    height: 100%;
}
.upload .button {
    border-style: dashed;
    border-width: thick;
    filter: brightness(0.8);
    display: grid;
    align-content: center;
}
.upload .input {
    display: none;
}
body {
    min-height: 100vh;
    background-color: var(--color-bg);
    color: var(--color-text);
    font-family: system-ui;
    letter-spacing: var(--letter-spacing);
    display: grid;
    row-gap: var(--big-gap);
    padding-block-start: var(--body-padding-block-start);
    grid-template-rows: auto 1fr auto;
}
main {
    display: grid;
    grid-template-columns: 1fr;
    padding-inline: var(--main-padding-inline);
    row-gap: var(--main-row-gap);
}
footer {
    padding-block: var(--footer-padding-block);
    text-align: center;
}
@media (prefers-color-scheme: dark) {
    :root {
        --color-bg: var(--dark-body);
        --color-text: var(--dark-text);
        --color-shadow: var(--dark-border);
        --color-hover: var(--dark-border);
        --color-border: var(--dark-border);
        --color-outline: var(--dark-border);
        --color-outline-active: var(--dark-border-active);
    }
    .button.settings {
        filter: invert(0.5) !important;
    }
}
